
body {
    background: lightblue;
    align-items: center;
}

#display {
    display: flex;
}

#dis {
    display: flex;
}

#container {
    display: flex;
    flex-wrap: wrap;
}



@media (max-width: 768px) {
    body {
        background: lightblue; 

    
    #display {
        display: block;
    }

    #dis {
        display: block;
    }

    #container {
        display: block;
    }
}

}